<li class="question">
  <!-- {{#link-to 'question' question.id}} {{question.author}}'s {{question.querry}} in {{/link-to}} -->
<em>{{question.querry}}</em> {{question.author}}
<button type="button" name="button">Answer</button>
</li>
