.heading {
  text-align: center;
  font-family: 'Bubbler One', sans-serif;
}

.question {
  /*font-family: 'Bubbler One', sans-serif;*/
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, p {
  text-decoration-color: white;
}

body {
  font-size: 18px;
  text-align: center;
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Bubbler One', sans-serif;
  background-color: black;
  text-decoration-color: white;
}

.navbar {
  font-size: 15px;
  background-color: transparent;
  border-color: transparent;
  font-weight: bolder;
  margin-top: 10px;
}

.navbar-toggle {
  margin-top: 27px;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #37c6f5 !important;
}

.image {
  width: 400px;
  height: 300px;
}

border-color: transparent;
color: #fff;

}
