<h1>React Message Board</h1>
<h2>We are an online queston and answer board whereby a user can submit a queston and other users can respond with answers</h2>
<h3>React was Created so as to intergrate the whole world into a global village</h3>
