<div class="container">

  <header>
    <nav class="navbar navbar-inverse opaque-navbar">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<div class="cl-effect-1">
				<a class="navbar-brand" href="/">React Message Board</a>
			</div>
		</div>

		<div class="collapse navbar-collapse" id="myNavbar">
			<div class="cl-effect-17">
        <ul class="nav navbar-nav ">
          <li><a href="/">Home</a></li>
          <hr>
        </ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
        <!-- <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul> -->
			</div>
		</div>
	</div>
</nav>
  </header>
</div>

{{outlet}}
