{{outlet}}
<h1 class="heading">Welcome to React Message Board</h1>
<hr>
<h2>We hope you find answers to all the qustions you have</h2> {{new-question saveQuestion2="saveQuestion3"}}
<h3><em>Click on a <strong>question</strong> to see the <strong>answers</strong> and images</em></h3>
<hr>
<div class="row">
  {{#each model.questions as |question|}}
  <div>
  {{question-tile question=question}}
</div>
<div>
  <p class="fire">{{question-popularity question}}</p>
</div>
  {{/each}}
</div>
